.table {
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 91vw;
  margin: 3.2rem;
  box-shadow: 0px 0px 30px 8px var(--shadow-color);
  padding: 25px;
  border-radius: 15px;
}
.input-table {
  width: 900px !important;
  height: 20px;
  background-color: var(--white);
  border: none;
  font-size: 15px;
  align-items: center;
  padding-left: 10px;
}
.input-table:focus {
  outline: none;
}
.input-table::placeholder {
  color: rgb(156, 155, 155);
}

.table-line {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 75%;
  background-color: var(--white);
  box-shadow: 0px 0px 30px 8px var(--shadow-color) !important;
  border-radius: 15px;
  padding-left: 17px;
  padding: 6px;
}

.tag-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 39px;
  border: 0px solid var(--white);
  border-radius: 20px !important;
  /* background-color: #e5e4e4; */
  box-shadow: 0px 0px 30px 8px var(--shadow-color) !important;
}

.radio {
  margin: 10px;
  padding: 10px;
  width: max-content;
}
/* .radio-btn{
    padding: 10px;
} */

.radio-btn {
  margin: 5px;
}

.btns {
  cursor: pointer;
  width: max-content;
  background-color: var(--white);
  border: 1.5px solid var(--theme);
  height: auto;
  font-size: 17px;
  color: var(--theme);
  border-radius: 8px;
  padding: 10px;
}

.btns:hover {
  background-color: var(--theme);
  transition: all 0.3s;
  color: var(--white);
}

.btns-blue {
  background-color: var(--theme);
  color: var(--white);
}
.btns-blue:hover {
  background-color: var(--white);
  transition: all 0.3s;
  color: var(--theme);
}
@media screen and (max-width: 410px) {
  .table {
   width: 100% !important;
    margin: 0;
    padding: 7px;
    margin-bottom: 30px !important;

  }

  .input-table {
    width: 50vw !important;
  

  }
  .table-line {
    width: 50vw !important;
   
  }

 

 
  .csv button {
  display: none;
  }

  .csv label {
    display: none;
  }

  .tag-2 {
    width: 90px;
    margin-right: 10px !important;
  }
  
  .radio {
    display: flex;
  }
  .radio-btn {
    width: max-content;
    font-size: 7px;
    margin: 1px;
  }
  .my-t {
    font-size: 12px !important;
    margin-left: 4px;
  }

}

@media screen and (max-width: 479px) {
  .table {
   width: 95% !important;
    margin: 0;
    padding: 7px;
    margin-bottom: 30px !important;

  }

  .input-table {
    width: 50vw !important;
  

  }
  .table-line {
    width: 50vw !important;
   
  }

  .transaction-table {
    margin-left: 0 !important;
    font-size: 4px !important;
    margin-right: 10px !important;

  }

 
  .csv button {
  display: none;
  }

  .csv label {
    display: none;
  }

  .tag-2 {
    width: 100px;
    margin-right: 20px !important;
  }
  
  .radio {
    display: flex;
  }
  .radio-btn {
    width: max-content;
    font-size: 9px;
    margin: 1px;
  }
  .my-t {
    font-size: 14px !important;
    margin-left: 4px;
  }

}

@media screen and (max-width: 768px) {
  .table {
   
    margin: 0;
    padding: 7px;
    margin-bottom: 30px !important;
  }

  .input-table {
    width: 50%;
  }
  .table-line {
    width: 50%;
  }

  .transaction-table {
    margin-right: 10px;
    font-size: 5px !important;
  }

  .csv button {
    display: none;
    }
  
    .csv label {
      display: none;
    }
  

  .csv label {
display: none;
  }

  .tag-2 {
    width: 100px !important;
    margin-right: 40px !important;
  }
  .radio {
    display: flex;
  }
  .radio-btn {
    width: max-content;
    font-size: 9px;
    margin: 1px;
  }
  .my-t {
    font-size: 18px;
    margin-left: 7px;
  }

}
