body {
  margin: 0;
}

.logo {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding-left: 10px;
  margin-left: 25px;
}

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  /* padding: 0rem 1.5rem; */
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  background-color: var(--theme);
  z-index: 100;
  /* width: 100vw !important; */
  height: 50px;

}

.dashboard {
  opacity: 0.8;
  cursor: pointer;
  font-size: 14px;
}

.dashboard:hover {
  opacity: 1.2;
  transition: all 0.3s ease-in;
}
.logout{
  padding-right: 10px;
}
.logout:hover {
  opacity: 1.2;
  transition: all 0.3s ease-in;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {


  .logo {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .img-container {
    width: 20px !important; 
    height: 20px !important;
  }

  .dashboard {
    font-size: 16px !important;
   }

  .logout {
    cursor: pointer;
    font-size: 14px; 
  }
  .theme {
    display: none;
  }
}


@media screen and (max-width: 479px) {


  .logo {
    margin-bottom: 10px;
    font-size: 20px !important;
  }

  .img-container {
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% !important;
    margin-top: 13px !important;
  }

  .dashboard {
    font-size: 15px !important;
   }
  .logout {
    margin-top: 13px;
    cursor: pointer;
    margin-right: 20px !important;
    font-size: 13px !important;
    /* margin-right: 10px !important; */
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    width: 103vw;
  }

  .logo {
    margin-bottom: 10px;
    font-size: 20px !important;
  }

  .img-container {
    width: 18px !important;
    height: 18px !important;
    border-radius: 50% !important;
    margin-top: 13px !important;
  }

  .dashboard {
   font-size: 15px !important;
  }

  .logout {
    margin-top: 13px;
    cursor: pointer;
    margin-left: 0 !important;
    margin-right: 20px !important;
    font-size: 13px !important;
    /* margin-right: 10px !important; */
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    display: flex;
    align-items: center;
    /* padding: 1rem; */
    width: 115vw;
  }
}