.form-inputs{
width: 95%;
border: 0;
border-bottom: 1.5px solid gray;
opacity: 0.8;
font-size: 15px;
padding: 3px 2px;
margin-bottom: 7px;
}
.label{
    text-transform: capitalize;
    text-align: start;
    margin: 0.5rem;
    font-size: 15px;
}
.form-inputs:focus{
    outline: none;
    opacity: 1;
    transition: all 0.3s;
}

.form-inputs::placeholder{
    color: gray;
}

.input-main{
    margin-bottom: 10px;
    width: 100% !important;
}

@media screen and (max-width: 468px) {

    .label{
        font-size: 12px;
    }
    .form-inputs{
        font-size: 12px;
    }
    
}