.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin: 1rem;
}

.line {
  width: 60vw !important;
  height: 550px;
  box-shadow: 0px 0px 30px 8px var(--shadow-color);
  margin-left: 2rem;
  border-radius: 15px;
  padding-left: 25px;
}

.pie {
  width: 30vw !important;
  height: 550px;
  box-shadow: 0px 0px 30px 8px var(--shadow-color);
  margin-left: 2.3rem;
  border-radius: 15px;
}

.chart-line {
  /* width: 50vw !important; */
  height: 400px !important;
}

.pie-line {
  width: 100% !important;
  height: 400px !important;
  margin-left: 15px;
  margin-top: 20px;
}

.income-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 8px;
  font-weight: 500;
  cursor: pointer;
}

.expense-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.income-btn:active {
  color: rgb(12, 177, 56);
}
.expense-btn:active {
  color: red;
}

.para-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}


@media screen and (max-width: 768px) {
  .charts {
    width: 100vw;
    flex-direction: column;
    justify-content: flex-end !important;
    align-items: center;
  
    
  }

  .chart-line {
    width: 70vw !important;
    height: 200px !important;
  
    margin-bottom: 10px !important;
  }

  .line {
    width: 80vw !important;
    /* margin-left: 2.1rem; */
    margin-bottom: 1rem !important;
  }

  .pie {
    width: 80vw !important;
    /* margin-left: 2.3rem; */
  }
}


@media screen and (max-width: 730px) {
  .charts {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .chart-line {
    /* width: 70% !important; */
    height: 250px !important;
  }

  .line{
    width: 80vw !important;
    margin-right: 5rem;
    margin-top: 30px;
    height: 380px;
  }
 

  .pie-line {
    margin: 0;
    /* margin-bottom: 50px !important; */
    margin-left: 120px !important;
    width: 320px !important;
    height: 320px !important;
  }
  .pie {
    width: 80% !important;
    height: 450px;
  
    margin-right: 5rem;
    margin-top: 30px;
    height: 400px;
  }

  .heading {
    width: 680px !important;
  }
  .heading h2 {
    font-size: 16px;
    margin-bottom: 10px !important;
  }
  .pie-heading h2 {
    font-size: 16px;
    margin-bottom: 10px !important;
  }
  .heading p {
    font-size: 14px !important;
    margin-top: 0 !important;
  }

  .pie-heading p {
    font-size: 14px !important;
    margin-top: 0 !important;
  }
}


@media screen and (max-width: 559px) {
  .charts {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .chart-line {
    /* width: 70% !important; */
    height: 300px !important;
  }

  .line,
  .pie {
    width: 100vw !important;
    /* margin-left: 0.5rem; */
  }

  .pie-line {
    margin: 0;
    /* margin-bottom: 50px !important; */
    margin-left: 70px !important;
    width: 370px !important;
    height: 370px !important;
  }

  .heading {
    width: 600px !important;
    align-items: center !important;
  }

  .pie-heading {
    display: flex !important;
    justify-content: space-between !important;
    align-items: start !important;
    /* width: 500px !important; */
    margin-left: 15px;
  }

  .heading > h2 {
    font-size: 14px;
    margin-bottom: 0px !important;
    /* margin-right: 0 !important; */
  }
  .pie-heading > h2 {
    font-size: 14px;
    margin-bottom: 0px !important;
  }

  .heading p {
    font-size: 11px !important;
    margin-top: 0 !important;
    /* margin-bottom: 10px !important; */
    margin-right: 10px !important;
  }

  .pie-heading p {
    font-size: 11px !important;
    margin-top: 0 !important;
    /* margin-bottom: 10px !important; */
  }
  .expense-btn,
  .income-btn {
    margin-top: 0;
  }
}


@media screen and (max-width: 480px) {
  .charts {
    width: 85vw !important;
    flex-direction: column;
    /* justify-content: center; */
 /* display: none; */
 margin-left: 30px;
 
  }

  .chart-line {
    margin-left: 10px !important;
    width: 60vw !important;
  
    margin-top: 20px !important;
   
  }

  .line {
    width: 80vw !important;
    /* margin-left: 0.3rem; */
    height: 410px !important;
    
  }

  .pie{
    width: 80vw !important;
    /* margin-left: 0.3rem; */
    height: 410px !important;
  
  }

  
  .pie-line{
    margin-left: 20px !important;
    width: 60vw !important;
   
  }

  .heading {
    width: 400px !important;
    align-items: center !important;
    /* margin-left: 15px; */
    
  }

  .pie-heading {
    display: flex !important;
    justify-content: space-between !important;
    align-items: start !important;
    /* width: 500px !important; */
    margin-left: 29px;
  }

  .heading > h2 {
    font-size: 13px;
    margin-bottom: 0px !important;
    margin-left: 10px !important;
  }
  .pie-heading > h2 {
    font-size: 14px;
    margin-top: 20px !important;
  }

  .heading p {
    font-size: 9px !important;
    margin-top: 10px !important;
    /* margin-bottom: 10px !important; */
    margin-right: 23px !important;
    /* margin: 0; */
  }

  .pie-heading p {
    font-size: 11px !important;
    /* margin-top: 0 !important; */
    /* margin-bottom: 10px !important; */
  }
  .expense-btn,
  .income-btn {
    margin-top: 0;
  }
}

@media screen and (max-width: 410px) {
  .charts {
    width: 90vw !important;
    flex-direction: column;
    /* justify-content: center; */
 /* display: none; */
  
  }

  .chart-line {
    width: 80vw !important;
    height: 200px !important;
  
    margin-top: 20px !important;
    
  }

  .line {
    width: 80vw !important;
    /* margin-left: 0.3rem; */
    height: 350px !important;
  }

  .pie{
    width: 80vw !important;
    /* margin-left: 0.3rem; */
    height: 410px !important;
  }

  .line {
    height: 320px;
  }
  .pie-line{
    margin-left: 20px !important;
    width: 60vw !important;
  }

  .heading {
    width: 400px !important;
    align-items: center !important;
    /* margin-left: 15px; */
  }

  .pie-heading {
    display: flex !important;
    justify-content: space-between !important;
    align-items: start !important;
    /* width: 500px !important; */
    margin-left: 29px;
  }

  .heading > h2 {
    font-size: 13px;
    margin-bottom: 0px !important;
    margin-left: 10px !important;
  }
  .pie-heading > h2 {
    font-size: 14px;
    margin-top: 20px !important;
  }

  .heading p {
    font-size: 9px !important;
    margin-top: 10px !important;
    /* margin-bottom: 10px !important; */
    margin-right: 23px !important;
    /* margin: 0; */
  }

  .pie-heading p {
    font-size: 11px !important;
    /* margin-top: 0 !important; */
    /* margin-bottom: 10px !important; */
  }
  .expense-btn,
  .income-btn {
    margin-top: 0;
  }
}
